/************************************************

Stylesheet: Global Stylesheet

*************************************************/


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

@font-face {
  font-family: 'icomoon';
  src:  url('../font-icons/icomoon.eot?1yj5t8');
  src:  url('../font-icons/icomoon.eot?1yj5t8#iefix') format('embedded-opentype'),
    url('../font-icons/icomoon.ttf?1yj5t8') format('truetype'),
    url('../font-icons/icomoon.woff?1yj5t8') format('woff'),
    url('../font-icons/icomoon.svg?1yj5t8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping-bag:before {
  content: "\e900";
}
.icon-bolt:before {
  content: "\e908";
}
.icon-flash:before {
  content: "\e908";
}
.icon-map-marker:before {
  content: "\e909";
}
.icon-envelope:before {
  content: "\e90a";
}
.icon-phone:before {
  content: "\e90b";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e902";
}
.icon-twitter-square:before {
  content: "\e904";
}
.icon-facebook-square:before {
  content: "\e905";
}

.page-head {
    background: #000;
    color: #fff;
    padding: 100px 0;

}

.page-head:after {
    content: '';
    display: block;
    width: 100%;
    top: 0;
    background: #000;
    position: absolute;
    height: 265px;
    left: 0;
    z-index: -1;
}

.woocommerce-account .woocommerce {
    margin: 5rem 0;
}

.page-id-267 form.woocommerce-form.woocommerce-form-register.register {
    margin: 4rem 0;
}

.social-icons-widget {
  > a {
      font-size: 36px;
      color: #fff;
      margin-right: 1rem;
  }
}

.section-pagination {
  list-style: none;
	position:fixed;
	right:20px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.section-pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:#ed6212;
	position:relative;
	padding:4px;
}
.section-pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}
.section-pagination a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.section-pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
}



@media (max-width: 640px) {

/**
.sow-features-list {
  max-width: 200px;
  margin: 0 auto;
  .sow-features-feature {
      margin-bottom: 0px !important;
  }
}
**/

.page-id-271 .so-widget-sow-features-default-0d5b028b9907 .sow-features-list.sow-features-responsive,
.page-id-1394 .so-widget-sow-features-default-923171ad8067 .sow-features-list.sow-features-responsive {
    margin: 0 auto;
    max-width: 100%;
}

.page-id-271 .so-widget-sow-features-default-0d5b028b9907 .sow-features-list.sow-features-responsive .sow-features-feature,
.page-id-1394 .so-widget-sow-features-default-0d5b028b9907 .sow-features-list.sow-features-responsive .sow-features-feature  {
    margin-bottom: 40px !important;
}

}

.has-divider {
  &.left {
    h2 {
      &:after {
        margin: inherit;
        margin-top: 1.2rem;
      }
    }
  }
  h2 {
    &:after {
        content :'';
        display: block;
        background: #ed6212;
        width: 50px;
        height: 5px;
        margin: 0 auto;
        margin-top: 1.2rem
    }
  }
}

.so-widget-sow-hero-default-4efeb30ac6d9 .sow-slider-base ul.sow-slider-images .sow-slider-image-wrapper .sow-hero-buttons .so-widget-sow-button a:hover,
.so-widget-sow-button-wire-15c8316962cd .ow-button-base a:hover > span {
    color: #000 !important;
}

.menu-icon {
    width:  30px;
    margin-right: 1em;
    &:after {
    height: 4px;
    background: #fff;
    box-shadow: 0 12px 0 #fff;
}
}

.logo-image {
    text-indent: -9999px;
    width: 205px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
}

.footer-widget-area {
  margin-bottom: 2rem;
}

.inner-footer {
    background: #ed6212;
    margin-bottom: -2.8rem;
    margin-left: -2.8rem;
    margin-right: -2.8rem;
    padding-top: .7rem;
    .copyright {
    margin-top: .4rem;
}
    nav {
      margin-bottom: 1rem;
    }
}

body {
  .off-canvas-content {
  	.theme-header {
      height: auto !important;
      text-transform: uppercase;
      .top-bar-bg {
          background: #000 !important;
      }
      &.transparent-theme-header {
        position: absolute;
        z-index: 1000;
    left: 0;
    right: 0;
    background-color: transparent;
    .top-bar-bg {
    background: transparent !important;
}
a {
  color: #fff;
}
      }
  		margin-bottom: 1.5em;
       position: relative;
       .top-bar-bg {
         position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
       }
  		.logo {
  			font-family: Roboto Slab,serif;
  	color: #000;
  	text-transform: uppercase;
  	font-weight: bold;
  	@include breakpoint(medium) {
  		font-size: 1.5em;
  		letter-spacing: .1em;
  	}
    &.logo-image {
    text-indent: -9999px;
    width: 205px;
    height: 58px;
    background-size: contain;
    background-repeat: no-repeat;
    }
  		}
  	}


  }

  &.admin-bar {
    .main {
      min-height: 78vh;
    }
  }
.jumbo {
  min-height: 100vh;
}
  &.blog {
    .content {
      main {
          display:  flex;
          align-items:  center;
          justify-content:  center;
          min-height: 81.4vh;

          article {
              margin-bottom:  5em;
              position: relative;
              &:after {
                  content: '/';
                  color: #ccc;
                  padding-top: 5em;
                  display: block;
              }
              &:last-child {
                  margin-bottom: 0;
                &:after {
                    display: none;
                }
              }
          }

      }
    }
  }

  &.home {




    &.page {
      main {
        min-height: 100vh;
      }
    }


  }
  &.single {

    article {
      margin-top: 6em;
    }

    #comments {
      margin-top: 6em;
    background: #f1f1f1;
    padding: 2em;
    #respond {
        background: #fdfeff;
        padding:  2em;

    }
}


  }
  .footer {
    background-color: #060606;
    color: #fff;
    overflow: hidden;
    padding: 2.8em;
    a {
      color: #fff;
    }
  }
}


/*********************
Homepage
*********************/

.home.page {
  .top-bar, .top-bar ul {
    background-color: transparent;
  }
  .main-section {
    padding: 15em 0;
    text-align: center;
    .tagline {
      color: #696565;
    }
  }

  section.demos {
      background: #E7E7E7;
      margin-left:  -1em;
      margin-right:  -1em;
      padding: 5em 0 0;
      overflow:  hidden;
      /* min-height: 940px; */
  }
  .speed {
    padding: 5em 0 0;
  }

}

.section-icon {
    text-align:  center;
}

.section-icon .icon {
    width: 10em;
    height: 10em;
    margin: 5em 0;
    fill: #369a36;
 -webkit-filter: drop-shadow( -5px 10px 85px #000 );
            filter: drop-shadow( -5px 10px 85px #000 );
}

/*********************
POSTS & CONTENT STYLES
*********************/
.page-title {

	// Remove Foundation vcard styling from author page titles
	.vcard {
		border: 0px;
		padding: 0px;
	}
}

// Post meta
.byline {
	color: #999;
	time {}
}

// Entry content
.entry-content {

	img {
		max-width: 100%;
		height: auto;
	}

	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

	video, object {
		max-width: 100%;
		height: auto;
		}

	pre {
		background: #eee;
		border: 1px solid #cecece;
		padding: 10px;
		}

}

.wp-caption {
	max-width: 100%;
	background: #eee;
	padding: 5px;

	// Images inside wp-caption
	img {
		max-width: 100%;
		margin-bottom: 0;
		width: 100%;
	}

	p.wp-caption-text {
		font-size: 0.85em;
		margin: 4px 0 7px;
		text-align: center;
	}
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
	@include button;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-right: -15px;
	margin-left: -15px;
}
.gallery::before, .gallery::after {
	content: ' ';
	display: table;
}
.gallery::after {
	clear: both;
}
.gallery.gallery-columns-1 > dl {
	@include grid-column;
}
.gallery.gallery-columns-2 > dl {
	@include grid-column(1 of 2);
}
.gallery.gallery-columns-3 > dl {
	@include grid-column(1 of 3);
}
.gallery.gallery-columns-4 > dl {
	@include grid-column(1 of 4);
}
.gallery.gallery-columns-5 > dl {
	@include grid-column(1 of 5);
}
.gallery.gallery-columns-6 > dl {
	@include grid-column(1 of 6);
}
.gallery.gallery-columns-7 > dl {
	@include grid-column(1 of 7);
}
.gallery.gallery-columns-8 > dl {
	@include grid-column(1 of 8);
}
.gallery dl {
	width: 100%;
	float: left;
	padding-left: 0.9375rem;
	padding-right: 0.9375rem;
}
.gallery dl:last-child:not(:first-child) {
  float: right;
 }

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
	margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
	.commentlist {
		margin-left: 0px;
	}
}

#respond {
	ul {
		margin-left: 0px;
	}
}

.commentlist {
	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;

			li {}

			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           // Change number for different depth
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

		}
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-left: 10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	li.depth-2 {}
	li.depth-3 {
	}
	li.depth-4 {}
	li.depth-5 {}

	// General comment classes
	.alt {}
	.odd {
	}
	.even {
	}
	.parent {}
	.comment {}
	.children {}
	.pingback {}
	.bypostauthor {}
	.comment-author {}
	.comment-author-admin {}
	.thread-alt {}
	.thread-odd {}
	.thread-even {}

	// vcard
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.photo {}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} // end .commentlist .vcard


	// comment meta
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	// comment content
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} // end .commentlist .comment_content

	// comment reply link
	.comment-reply-link {
		float: right;

		&:hover,
		&:focus {

		}

	} // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
	margin: 1.5em 10px;
	padding-bottom: 2.2em;

	form {
		margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px 6px;
			background: #efefef;
			border: 2px solid #cecece;
			line-height: 1.5em;

			&:focus {
				background: #fff;
			}

			// form validation
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 400px;
			min-width: 250px;
		}

		textarea {
			resize: none;
			width: 97.3%;
			height: 150px;
		}

	}
}

// comment form title
#comment-form-title {
	margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
	a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
	margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
	margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
	li{
		list-style: none;
	}
}

.widget {
	ul {
		margin: 0;
	}
}
/*********************
FOOTER STYLES
*********************/
.footer {
	clear: both;
}

/*********************
VISUAL EDITOR STYLES
*********************/
// Makes content look better in visual editor
body#tinymce {
   	margin: 20px;
}

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
    list-style: none outside none;
    margin: 0;
}

// Tiny additions to Siteorigin Pagebuilder

.hide-title {
  .widget-title {
	display: none !important;
}
}


/* --------------------------------

Vertical Timeline - by CodyHouse.co

-------------------------------- */
header {
  height: 200px;
  line-height: 200px;
  text-align: center;
  background: #303e49;
}

header h1 {
  color: white;
  font-size: 1.8rem;
}

@media only screen and (min-width: 1170px) {
  header {
    height: 300px;
    line-height: 300px;
  }
  header h1 {
    font-size: 2.4rem;
  }
}

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  .cd-timeline__container::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline__block {
  position: relative;
  margin: 2em 0;
}

.cd-timeline__block:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__block:first-child {
  margin-top: 0;
}

.cd-timeline__block:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__block {
    margin: 4em 0;
  }
}

.cd-timeline__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.cd-timeline__img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}

.cd-timeline__img.cd-timeline__img--picture {
  background: #ed6212;
}

.cd-timeline__img.cd-timeline__img--movie {
  background: #c03b44;
}

.cd-timeline__img.cd-timeline__img--location {
  background: #f0ca45;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__img {
    width: 20px;
    height: 20px;
    left: 50%;
    margin-left: -10px;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__img.cd-timeline__img--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
            animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.cd-timeline__content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  -webkit-box-shadow: 0 3px 0 #d7e4ed;
          box-shadow: 0 3px 0 #d7e4ed;
}

.cd-timeline__content:after {
  /* clearfix */
  content: "";
  display: table;
  clear: both;
}

.cd-timeline__content::before {
  /* triangle next to content block */
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.cd-timeline__content h2 {
  color: #303e49;
}


.cd-timeline__content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline__read-more,
.cd-timeline__date {
  display: inline-block;
}

.cd-timeline__read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.cd-timeline__read-more:hover {
  background-color: #bac4cb;
}

.cd-timeline__date {
  float: left;
  padding: .8em 0;
  opacity: .7;
  color: #fff;
}

@media only screen and (min-width: 1170px) {
  .cd-timeline__content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
  }
  .cd-timeline__content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline__read-more {
    float: left;
  }
  .cd-timeline__date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 1.6rem;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__read-more {
    float: right;
  }
  .cd-timeline__block:nth-child(even) .cd-timeline__date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cd-timeline__content.cd-timeline__content--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
            animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cd-timeline__block:nth-child(even) .cd-timeline__content.cd-timeline__content--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
            animation: cd-bounce-2-inverse 0.6s;
  }
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}


/** Woocommerce Login and Register **/

.woocommerce form.login,
.woocommerce form.register {
    background-color: #fff;
    border: none;
}

.woocommerce form.login p,
.woocommerce form.register p {
    text-shadow: none !important;
}

form.login .woocommerce button.button {
    /* display: none !important; */
}

.woocommerce .woocommerce-form-login button.button,
.woocommerce form.register button.button {
    /* display: none; */
    background-color: #060606;
    color: #fff;
    margin-right: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.register-link,
.login-link {
    /* float: right; */
    background: #ed6212;
    margin-right: -1.3rem;
    /* margin-top: -.3rem; */
    border-bottom-right-radius: 8px;
    padding: 10px;
    /* margin-top: -.9rem; */
    margin-left: -1.4rem;
    border-bottom-left-radius: 8px;
    margin-bottom: -1.4rem;
    text-align: center;
    /* color: #fff; */
}

.register-link a,
.login-link a {
    color: #fff;
}

.page-id-184 .sow-features-list .sow-features-feature h5 {
    color: #fff !important;
}

.woocommerce-MyAccount-navigation li {
    list-style: none;
}

.woocommerce-MyAccount-navigation ul {
    margin-left: 0;
}

.woocommerce-MyAccount-navigation ul li a {
    background: #ccc;
    padding: 1rem;
    display: block;
    border-bottom: 2px solid #000;
}



.menu a {
    color: #fff;
}

.woocommerce .quantity .qty {
    width: 3.631em;
    text-align: center;
    height: 50px;
}

button.single_add_to_cart_button.button.alt {
    background: #ed6212;
    padding: 1rem 2rem;
}

.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: #ed6212 !important;
    font-size: 46px !important;
}

.woocommerce div.product .product_title {
    font-weight: bold;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  border: none !important;
}

.woocommerce-page .article-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1.5rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.woocommerce-page .article-header .page-title {
    font-weight: 700;
}

.woocommerce-page {
  .article-header {
    background-image: url('../images/shop-bg.jpg');
    background-size: cover;
    background-position: center;
  }
}


.widgettitle {
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.widgettitle:after {
    content: '';
    display: block;
    width: 40px;
    height: 5px;
    background-color: #ed6212;
    margin-top: 10px
}

.widget {
    margin-bottom: 2rem;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {background-color: #050505;}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    margin-bottom: 2rem;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: #050505;
    color: #fff;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
    font-size: .8rem !important;
}

.woocommerce ul.products li.product .price {
    /* float: right; */
    color: #ed6212;
    font-weight: bold;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    font-weight: bold;
}

.woocommerce-page .inner-content {
    padding: 2rem 0;
}

.woocommerce div.product div.summary {
    text-align: center;
    margin-top: 5rem;
}

.woocommerce div.product form.cart {
    text-align: center;
}

.woocommerce div.product form.cart div.quantity {
    float: inherit;
    display: inline-block;
}

.woocommerce div.product form.cart .button {
    float: inherit;
    display: inline-block;
}

.woocommerce .quantity .qty {
    height: 44px;
    margin-bottom: 0;
    position: relative;
    top: 1.7px;
}

body.single div#reviews #comments {
    margin-bottom: 1rem;
    margin-top: 0;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: #ed6212;
}

.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {
  background-color: #000;
}


.page-id-1394 .content {
    margin-top: -1.5rem;
}

input.wpcf7-form-control.wpcf7-submit {
    background: #e55625;
    border: none;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}

.woocommerce-page.woocommerce-account .inner-content {
  padding: 0;
}

li.menu-header-search {
    max-width: 200px;
    float: right;
    margin-bottom: -1rem;
}

.menu-header-search button[type="submit"] {
    color: #fff;
    float: right;
    top: 0;
    position: absolute;
    right: 10px;
    top: 11.3px;
    cursor: pointer;
}

.menu-header-search input[type=search] {
    box-shadow: none;
    border: none;
    font-size: 14px;
    border-radius: 25px;
    padding: 5px 15px;
    background-color: transparent;
    border: 1px solid #ccc;
}

ul#mega-menu-main-nav {
    margin-top: 1rem !important;
}

@media (min-width: 1024px) {
  .footer .footer-widget-area .menu {
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-top: .5rem;
  }
  .flex-viewport {
      width: 80%;
      float: right;
      min-height: 450px;
  }

  ol.flex-control-nav.flex-control-thumbs.slick-initialized.slick-slider.slick-vertical {
      width: 18%;
      float: left;
      position: absolute;
      top: 0;
      padding-top: 3rem;
  padding-bottom: 3rem;
  }

  .slick-next {
      display: none !important;
  }

  .slick-prev {
      left: -25px;
      top: 19px;
      left: 0;
      right: 0;
      text-align: center;
      margin: 0 auto;
      transform: rotate(93deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(93deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(93deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(93deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(93deg) scale(1) skew(1deg) translate(0px);
          z-index: 1;
          &:before {
            color: #000;
          }
  }

}

@media (max-width: 1023px) {
  body .footer {
    padding: 1rem 0 0;
  }
  #menu-footer-nav a {
    padding-left: 0;
}
     #mega-menu-wrap-main-nav .widget_sow-image  {
         display: none !important;
     }
     li.menu-header-search {
    float: inherit;
    margin-bottom: 0;
    max-width: 100%;
    margin-left: .7rem;
    margin-right: .7rem;
    margin-top: 1rem;
}
.inner-footer nav {
  float: inherit !important;
}
}

@media (max-width: 1024px) {
  .inner-footer {
      padding: 1.5rem 2rem 2rem;
  }
  body .footer #menu-subfooter a {
    padding-left: 0;
  }
}

@media (max-width: 639px) {
  .top-bar-right {
    position: absolute;
    right: 10px;
}



.normal-font .sow-features-feature .textwidget > h5 {
  font-size: 22px !important;
}

.normal-font .sow-slider-image-wrapper p,
.normal-font .sow-features-feature .textwidget > p  {
    font-size: 16px !important;
}


}

.circled img {
  border-radius: 50%;
}


@media (min-width: 1024px) {
  .home-hero {
    min-height: 100vh;
  }
.inner-footer nav {
  float: right;
}
}


#menu-footer-nav a {
    transition: .3s ease all;
}

#menu-footer-nav a:hover {
    background-color: #fff;
    border-radius: .5rem;
    color: #E55625;
}

/** Footer Fix **/

.off-canvas-wrapper {
    overflow: visible;
}

.off-canvas-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.off-canvas-content > .theme-header,
.off-canvas-content > .footer {
    flex-shrink: 0;
}

.off-canvas-content > .content {
    flex: 1 0 auto;
}
